<main class="container">
    <figure class="blog-fig">
        <img src="assets/spacejoy-YqFz7UMm8qE-unsplash.jpg" alt="title-img" class="cover-img" />
    </figure>
    <section class="content">

        <p class="category-pill">Interior</p>
        <h3 class="title">Top 5 Living Room Inspirations</h3>


        <article class="description">Curated vibrants colors for your living, make it pop & calm in the same time.
        </article>
        <button class="redirect-btn">Read More <ng-icon class="btn-icon" name="heroArrowRight"></ng-icon></button>

    </section>
</main>